
{{#each this}}
<li class="country__item">
    <img class ="country__flag" src="{{flags.svg}}" alt="{{flag}}">
    <h2 class="country__name">{{name}}</h2>
</li>
{{/each}}

            
            
            
      
        

